<% const meetings = site.data['knosys/meetings'] %>
<div class="Grid Grid--threeCols is-active">
  <% meetings.sequence.forEach(id => { %>
    <% const item = meetings.items[id] %>
    <div class="Grid-item">
      <%- partial('_local/components/card', { title: item.title, description: item.description, banner: item.banner.url, url: `/meetings/${id}/` }) %>
    </div>
  <% }) %>
</div>
