@charset "UTF-8";
.Card {
  position: relative;
  overflow: hidden;
  min-height: 150px;
  background-color: #FFF;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.22); }
  .Card-link, .Card-thumbnail {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .Card-link {
    z-index: 3;
    padding: 15px;
    text-decoration: none !important;
    font-size: 14px;
    line-height: 1.2; }
    .Card-link, .Card-link:hover {
      color: #555; }
  .Card-thumbnail {
    z-index: 2;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .15;
    border-radius: 6px; }
    .Card-thumbnail img {
      display: none; }
  .Card-name {
    margin: 0;
    font-size: 18px;
    color: #333; }
  .Card-description {
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 1.5; }

.Page-banner:before {
  opacity: 0.75; }

.Page-banner + .container .Article {
  padding-top: 30px; }

@media (min-width: 768px) {
  .Page-banner {
    height: 600px; } }

.Hero {
  text-align: center; }
  .Hero-description {
    margin-bottom: 30px !important; }
  .Hero-video {
    border: 1px solid #fff;
    border-radius: 8px;
    position: relative;
    overflow: hidden; }
    .Hero-video:after {
      content: " ";
      display: block;
      position: relative;
      z-index: -999999999;
      padding-top: 56.25%; }
    .Hero-video > * {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0; }
  .Hero-videoLink img {
    width: 100%;
    height: 100%; }
  .Hero-videoLink:before {
    content: "\0020";
    background-color: #000;
    opacity: 0.2;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
  .Hero-videoLink:before, .Hero-videoLink:after {
    content: " ";
    position: absolute; }
  .Hero-videoLink:before {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.25; }
  .Hero-videoLink:after {
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    margin-top: -24px;
    margin-left: -16px;
    border-width: 24px 32px;
    border-style: solid;
    border-color: transparent transparent transparent #fff; }
  .Hero-videoLink:hover:before {
    opacity: 0; }
  @media (max-width: 767px) {
    .Hero .Article-title {
      font-size: 52px !important;
      margin-bottom: 15px !important; }
    .Hero-description span:before {
      content: "「"; }
    .Hero-description span:after {
      content: "」"; } }
  @media (min-width: 768px) {
    .Hero {
      text-shadow: 3px 3px 8px #000; }
      .Hero-description {
        margin-bottom: 320px !important; }
      .Hero-video {
        position: absolute;
        bottom: 60px;
        left: 50%;
        width: 480px;
        margin-left: -240px;
        box-shadow: 5px 0px 20px 5px rgba(255, 255, 255, 0.22); }
      .Hero-videoLink:after {
        margin-top: -36px;
        margin-left: -24px;
        border-width: 36px 48px; } }
  @media (min-width: 992px) {
    .Hero {
      text-align: left; }
      .Hero .Article-title {
        font-size: 72px !important; }
      .Hero-description {
        margin: 40px 0 80px !important;
        font-size: 24px; }
        .Hero-description span {
          display: block;
          margin: 4px 0;
          font-size: 36px;
          font-weight: normal;
          font-style: italic; }
      .Hero-video {
        right: 0;
        bottom: 140px;
        left: auto;
        margin-left: auto; } }
  @media (min-width: 1200px) {
    .Hero-description {
      margin-top: 50px !important; }
    .Hero-video {
      bottom: 100px;
      width: 640px; }
    .Hero-videoLink:after {
      margin-top: -48px;
      margin-left: -32px;
      border-width: 48px 64px; } }

.Article .Feature {
  padding-top: 30px;
  padding-bottom: 30px; }
  .Article .Feature-title, .Article .Feature-description {
    text-align: center; }
  .Article .Feature-title {
    margin: 24px 0 16px;
    padding-bottom: 0;
    border-bottom-style: none;
    font-size: 34px; }
  .Article .Feature-description {
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.5; }

.Article .CommunityStatistics {
  margin: 0 -16px;
  padding-left: 0;
  list-style: none inside none; }
  .Article .CommunityStatistics-item {
    padding: 16px; }
    .Article .CommunityStatistics-item a {
      padding: 16px 24px;
      line-height: 1.2;
      text-decoration: none;
      color: #337ab7;
      background-color: #cfe5f0;
      border-radius: 6px; }
      .Article .CommunityStatistics-item a,
      .Article .CommunityStatistics-item a span {
        display: block; }
      .Article .CommunityStatistics-item a span:first-of-type {
        font-size: 16px;
        font-weight: normal; }
      .Article .CommunityStatistics-item a span:last-of-type {
        margin-top: 5px;
        font-size: 48px;
        font-weight: bold;
        font-style: italic;
        color: #0871ab;
        text-align: right; }
      .Article .CommunityStatistics-item a:hover {
        color: #cfe5f0;
        background-color: #0871ab; }
        .Article .CommunityStatistics-item a:hover span {
          color: inherit; }
  @media (max-width: 767px) {
    .Article .CommunityStatistics {
      margin: 0 -8px; }
      .Article .CommunityStatistics-item {
        padding: 8px; } }

.Article .CommunityIntro {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center; }
  .Article .CommunityIntro p {
    margin-bottom: 0; }
  .Article .CommunityIntro-promo {
    font-size: 24px; }
  .Article .CommunityIntro-getStarted {
    margin-top: 30px; }
    .Article .CommunityIntro-getStarted a {
      display: inline-block;
      padding: 0 30px;
      font-weight: 400;
      line-height: 46px;
      border-radius: 46px;
      color: #fff;
      background-color: #337ab7; }
      .Article .CommunityIntro-getStarted a:hover {
        text-decoration: none;
        background-color: #0871ab; }
    .Article .CommunityIntro-getStarted .fa {
      margin-left: .5em; }

.Grid {
  margin: -7.5px; }
  .Grid,
  .Grid * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .Grid:before, .Grid:after {
    content: " ";
    display: table; }
  .Grid:after {
    clear: both; }
  .Grid-item {
    width: 100%;
    float: left;
    padding: 7.5px; }
  .Grid .Grid-item:first-child {
    margin-top: 0; }
  @media (min-width: 768px) {
    .Grid-item {
      width: 50%; } }
  @media (min-width: 992px) {
    .Grid-item {
      width: 33.33333%; } }
  @media (min-width: 1200px) {
    .Grid-item {
      width: 25%; } }

.Person {
  height: 240px;
  font-size: 14px; }
  .Person-link {
    padding: 0;
    font-size: inherit; }
  .Person-header {
    position: relative;
    height: 120px;
    margin-bottom: 52px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #f0f0f0; }
  .Person-brief {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    overflow: hidden;
    padding: 0 15px; }
  .Person-name {
    margin: 25px 0 0;
    font-size: 18px !important;
    color: #333; }
  .Person-body {
    padding: 0 15px 15px;
    line-height: 1.5; }
  @media (max-width: 767px) {
    .Person-description {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical; } }
